<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.karat.fksc">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logofkscsemfundo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".members.MembersActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".championships.ChampionshipActivity"/>
        <activity android:name=".ranking.RankingActivity"/>
        <activity android:name=".login.LoginActivity"/>
        <activity android:name=".profile.ProfileActivity"/>
        <activity android:name=".profile.EditProfileActivity"/>
        <activity android:name=".dojo.AddDojoActivity"/>
        <activity android:name=".profile.OtherProfileActivity"/>
        <activity android:name=".dojo.DojoActivity"/>
        <activity android:name=".dojo.EditDojoActivity"/>
        <activity android:name=".share.ShareActivity"/>
        <activity android:name=".search.SearchActivity"
            android:windowSoftInputMode="adjustPan"/>

    </application>


</manifest>